@import '../../global.scss';

.balance-display__wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;

  .balance-display--current-value {
    font-size: 20px;
    font-weight: 500;
    color: $color-dark-green;
  }

  .balance-display--saving-transfer {
    display: flex;
    flex-direction: column;
  }
}
