$color-pink: #e63946;
$color-dark-green: #344e41;
$color-blue: #118ab2;
$color-dark-blue: #1d3557;

$color-background-dark: rgb(51, 49, 49);

$color-box-background: #fff;

$color-white: #fff;

$transition-time: 0.2s ease-in-out all;